body{
    background: #16222A; 
    background: -webkit-linear-gradient(to right, #3A6073, #16222A); 
    background: linear-gradient(to right, #3A6073, #16222A); 
    
}

.sing-up{
    padding: 20px;
    color: aliceblue;
}

.sing-in{
    padding: 20px;
    color: aliceblue;
}

#entrada{
    color: aliceblue;
    font-family: 'Cookie', cursive;
    font-size: 90px;

}